.Insights{
    overflow: auto;
    background-color: #fcf6f1;
    padding: 8rem 0;
}
.Insights_title {
    font-size: 3.2rem;
    line-height: 1em;
    font-weight: 600;
    letter-spacing: -0.02em;
    font-family: "main";
    text-align: left;
    width: 50%;
    margin: 0;
}

.intro {
    display: flex;
}  

.para {
    text-align: left;
    width: 50%;
    margin: 0;
}

.Container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 8rem;
}

.Column {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 2.5rem;
}


.Insights_cardsItem{
    max-width: 500px;
    margin: 0 auto;
}

.Insights_cardtitle{
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 3rem;
    letter-spacing: -0em;
    margin: 0;
    font-family: 'text';
}

.Insights_cardSubTitle{
    font-size: 1rem;
    line-height: 2rem;
    padding-bottom: 3rem;
    letter-spacing: -0em;
    margin: 0;
    font-family: 'text';
    font-weight: 100;
}

.Insights_arrow{
    width:100%;
}
