body {
  margin: 0;
  font-family: 'Italiana' -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(191,240,255);
  background: linear-gradient(90deg, rgba(191,240,255,1) 0%, rgba(255,255,255,1) 40%, rgba(191,240,255,1) 100%);
}

@font-face {
  font-family: 'Italiana';
  src: url(../public/Italiana-Regular.ttf) format('opentype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
